// @import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import 'colors';

// Mixins
@mixin btn {
    height: 2.5rem;
    background-color: $blue;
    color: $white;
    cursor: pointer;
    border: none;
    border-radius: .2rem;
    margin: .5rem;
 
    &:hover {
        background-color: $lightblue;
    }
}

// Buttons 
.button {
    @include btn;
}

.nav-items {
    background-color: $light;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
            color: $blue;
        }
    }

    .search {
        border: 1px solid $green;
        
    }
}

#home {
    background-color: $bg;
}

// Components
#button-counter {
    @include btn;
}
.parent-comp {
    
}

.child-comp {
    border: 1px solid $dark;
}



// Slots
.frame {
    border: 1px solid $blue;
    border-radius: .5rem;
    width: 50%;
    &:hover {
        border-color: $lightblue;
    }
}

// About Page
.about {
    padding: 2rem 0;
}

// Contact Page
.contact {
    background-color: $bg;
    text-align: left;
    padding: 2rem 3rem;
    input {
        margin: .5rem 0;
    }
}

// Footer
.footer {
    padding: 3rem 0;
}



